# Django core
django==3.1.12


# PostgreSQL support
psycopg2-binary

# Celery for async task processing
celery==5.5.1

# REST API (if used)
djangorestframework==3.12.4

# Redis (for Celery broker)
redis==5.0.3
python-dotenv

# Web scraping
selenium

# HTML parsing
beautifulsoup4
lxml
channels
channels-redis

