<!-- mainPage.html -->

{% extends 'base.html' %}

{% block title %}MarketInsight - Unlock Web Scraping Opportunities{% endblock %}

{% block content %}
  <div class="container py-5">
    <header class="text-center py-3" style="background-color: #007bff; color: #ffffff; border-radius: 8px;">
      <h1 class="display-3 fw-bold">Welcome to MarketInsight</h1>
      <p class="lead fs-4">Unlock web scraping opportunities on various websites</p>
    </header>

    <section class="row gx-5 py-5">
      <div class="col-md-6">
        <div class="card mb-3">
          <h2 class="card-title">Create New Scrap Requests</h2>
          <p class="card-text">Submit a new scrap request to extract data from your desired website. Our system will handle the rest.</p>
          <a href="{% url 'amazon:amazon' %}" class="btn btn-info">Create New Request</a>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card mb-3">
          <h2 class="card-title">Track Request Status</h2>
          <p class="card-text">Monitor the status of your scrap requests in real-time. Get notified when your data is ready.</p>
          <a href="{% url 'amazon:request-list' %}" class="btn btn-info">View Request Status</a>
        </div>
      </div>
    </section>

    <section class="row gx-5">
      <div class="col-md-6">
        <div class="card mb-3">
          <h2 class="card-title">Manipulate Requested Data</h2>
          <p class="card-text">Download, filter, and analyze your scraped data with ease. Make informed decisions with our intuitive tools.</p>
          <a href="{% url 'amazon:request-list' %}" class="btn btn-info">Explore Your Data</a>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card mb-3">
          <h2 class="card-title">Supported Websites</h2>
          <p class="card-text">We support web scraping on various websites, including Amazon, eBay, and more. Check out our supported websites list.</p>
          <a href="" class="btn btn-info">View Supported Websites</a>
        </div>
      </div>
    </section>

    <hr class="my-5">

    <p class="text-muted fs-5">MarketInsight is a web scraping platform that provides opportunities for individuals and businesses to extract data from various websites. Our platform is designed to be user-friendly, efficient, and scalable.</p>
  </div>
{% endblock %}